@use "variables" as v;

@mixin palette($colors, $shadows) {
    @each $key, $value in $colors {
        --color-#{$key}: #{$value};
    }

    @each $key, $value in $shadows {
        --shadow-#{$key}: #{$value};
    }
}

:root {
    color-scheme: dark;

    @include palette(v.$palette-dark, v.$shadows-dark);
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme="dark"]) {
        color-scheme: light;

        @include palette(v.$palette-light, v.$shadows-light);
    }
}

:root[data-theme="light"] {
    color-scheme: light;

    @include palette(v.$palette-light, v.$shadows-light);
}
